<h3>Комментирование поста</h3>

	
		
		<blockquote style="border-color:yellow">
		
			<footer>#<%= @row['id']%> Добавлен: <%= @row['CreatedDate']%></footer>
			<p ><%= @row['Context']%></p>
			
		</blockquote>
		
		
		
		<hr />
	
