<h2>Последние публикации</h2>
<hr />

	<% @outpost.each do |row|%>		
		
		<blockquote style="border-color:blue">
			<footer>#<%= row['id']%> Добавлен: <%= row['CreatedDate']%></footer>
			<p ><%= row['Context']%></p>		
		</blockquote>
		<a href="/details/<%= row['id']%>">Комментировать</a>
		
		<hr />
	
	<%end%>
