<h2>Последние публикации</h2>
<hr />

	<% @outpost.each do |row|%>		
		
		<blockquote >
			<p style="font-size: 75%">#<%= row['id']%> </p>
			<p ><%= row['Context']%></p>	
			<footer>Добавлен: <%= row['CreatedDate']%></footer>
		</blockquote>
		
		<button class="btn btn-primary" type="button" >
		<a href="/details/<%= row['id']%>" style="color:white">Комментировать <span class="badge"></a>
		</button>		
		<hr />
	
	<%end%>
	


