
<h2>Последние публикации</h2>
<hr />
	<% @outpost.each do |row|%>	
<div style="width:1000px; heigth:500px; position:relative; z-index:1"> 
	<!-- ***************** здесь выводится значок USER и имя автора статьи ******************-->
	<div style="float:left">
		<p>
			<span class="glyphicon glyphicon-user" aria-hidden="true"></span> 
			<a href="/account_info/<%= row['Author_id']%>">
				<%= row['Author_name']%>
			</a>
		</p>
		<p style="font-size: 75%; color: grey" >
			<span class="glyphicon glyphicon-time" aria-hidden="true"></span> 
				Добавлено: <%= row['CreatedDate']%>
				&nbsp;&nbsp;&nbsp;&nbsp;				
			<span class="glyphicon glyphicon-comment" aria-hidden="true"></span>	
			
				<!-- ************ получаем из базы данных количество комментариев *********************-->
				<% @comments_amount = @db.execute 'select * from comments where post_id = ? order by id', row['id']%>
				<%= @comments_amount.length %>
				<!-- ================================================================================= -->				
		</p>
	<!-- ================================================================================	 -->
	
		<div style="position:relative; top:0px; z-index:2">
			<div style="position:relative; z-index:3">
				<a href =# >
					<img src="<%= row['Img'] %>" style="width:400px; float:left; padding:10px">
				</a>
			</div>	
			
			<div style="position:relative; z-index:4">
				<h3>			
					<p style="font-weight:bold">
						<ins>
							<%= row['Header']%>
						</ins>
						<p style="font-size: 65%; color: grey">
							<%= row['SubHeader'].length < 1 ? "" : row['SubHeader'] %>
						</p>
					</p>
				</h3>		
					
				<div style="max-height:100px; overflow:hidden;">							
					<p style="font-weight:lighter; font-size:14px"><%= row['Context']%></p>			
				</div>
				...	
				<p />
				<a href="/details/<%= row['id']%>">
					Читать полностью
				</a>
				<hr />
			</div>
				
		</div>
	</div>
</div>		
	<%end%>	

