<h2>Добавить новый пост</h2>
<p>
	Здесь Вы можете добавить новый пост
</p>
<p style="color:red">
	Все поля обязательны для заполнения
</p>
<form action="/new" method="POST" role="form">
	
	<label>Введите Ваше имя</label>
	<input type="text" class="form-control" name ="author_name" placeholder="Введите Ваше имя" ><br/>
	<label>Введите заголовок для Вашей публикации</label>
	<input type="text" class="form-control" name ="new_header" placeholder="Введите заголовок" ><br/>
	<label>Введите текст публикации</label>
	<div><textarea class="form-control" rows="6" name="new_post" placeholder="Введите текст"></textarea></div>  <br />
	<button type="submit" class="btn btn-primary">Отправить</button>
</form>