<h2>Добавить новый пост</h2>
<p>
	Здесь Вы можете создать новую статью, публикацию, пост
</p>
<form action="/new" method="POST" role="form">	
	
	<label>
		<span class="glyphicon glyphicon-fire" aria-hidden="true" style="color:red"></span>
		Введите заголовок для Вашей публикации
	</label>
	<input type="text" class="form-control" name ="new_header" placeholder="Сюда введите заголовок Вашей статьи">
	<br />
	
	<label>
		<span class="glyphicon glyphicon-fire" aria-hidden="true" style="color:red"></span>
		Введите ссылку на изображение
	</label>	
	<input type="text" class="form-control" name ="new_img" placeholder="Сюда введите ссылку на изображение">
	<br />
	
	<label>
		<span class="glyphicon glyphicon-fire" aria-hidden="true" style="color:red"></span>
		Введите подзаголовок Вашей статьи
	</label>
	<label>Введите подзаголовок для Вашей публикации</label>
	<input type="text" class="form-control" name ="new_subheader" placeholder="Сюда введите подзаголовок Вашей статьи">	<br />
	
	
	<label>
		<span class="glyphicon glyphicon-fire" aria-hidden="true" style="color:red"></span>
		Введите текст публикации
	</label>	
	<textarea class="form-control" rows="6" name="new_post" placeholder="Сюда введите текст публикации"></textarea> 
	<br />
	
	<button type="submit" class="btn btn-primary">Отправить</button>
	
</form>
