<h2>Добавить новый пост</h2>
<p>
	Здесь мы будем добавлять новый пост
</p>
<form action="/new" method="POST" role="form">
	<textarea class="form-control" rows="6"></textarea>  <br />
	<button type="submit" class="btn btn-primary">Submit</button>
</form>