<h2>Добавить новый пост</h2>
<p>
	Здесь Вы можете добавить новый пост
</p>
<form action="/new" method="POST" role="form">
	<input type="text" class="form-control" name ="author_name" placeholder="Введите Ваше имя" ><br/>
	<textarea class="form-control" rows="6" name="new_post" placeholder="Введите текст"></textarea>  <br />
	<button type="submit" class="btn btn-primary">Отправить</button>
</form>