<h4>Рады приветствовать Вас на нашем сайте</h4>
<p style="font-size: 75%; color: grey">Для размещения статей, пожалуйста, заполните форму ниже</p>
<hr />

<form action="/registration" method="POST" role="form">

<label>Представьтесь, пожалуйста</label>
	<input type="text" class="form-control" name ="author_name" placeholder="Введите Ваше имя" value =  <%=@author_name %>><br/>
	
<label>Придумайте логин для входа на сайт</label>
	<input type="text" class="form-control" name ="author_login" placeholder="Введите Ваш логин"  value = <%=@author_login %>><br/>
	
<label>Придумайте пароль для входа на сайт</label>
	<input type="password" class="form-control" name ="author_password" placeholder="Введите Ваш пароль" ><br/>
	<input type="password" class="form-control" name ="author_password_confirm" placeholder="Введите Ваш пароль еще раз, пожалуйста" ><br/>
	
<button type="submit" class="btn btn-primary">Сохранить</button>

</form>